<fieldset class="design">

  <include src="./collapsable.html" icon="fa-object-ungroup" title="diseña"
    class="js-collapsible collapsable__section--title-1 js_collapsable_design_button" id="design"
    arrow="fa-chevron-up js_arrow_design arrow">
  </include>

  <div class="page-wrapper design__container selection js_collapsable_design">
    <legend class="design__title">Colores</legend>

    <div class="design__wrapper--pallets">
      <div class="design__palette design__palette--one">
        <div class="design__palette--input">
          <input class="design__input js_palette js_palette_one" id="palette-one" type="radio" value="1"
            name="palette" />
        </div>
        <label for="palette" class="design__wrapper-palette">
          <span class="box-design design__palette--one-color-one"></span>
          <span class="box-design design__palette--one-color-two"></span>
          <span class="box-design design__palette--one-color-three"></span>
        </label>
      </div>

      <div class="design__palette design__palette--two">
        <div class="design__palette--input">
          <input class="design__input js_palette js_palette_two" id="palette-two" type="radio" value="2"
            name="palette" />
        </div>
        <label for="palette" class="design__wrapper-palette">
          <span class="box-design design__palette--two-color-one"></span>
          <span class="box-design design__palette--two-color-two"></span>
          <span class="box-design design__palette--two-color-three"></span>
        </label>
      </div>

      <div class="design__palette design__palette--three">
        <div class="design__palette--input">
          <input class="design__input js_palette js_palette_three" id="palette-three" type="radio" value="3"
            name="palette" />
        </div>
        <label for="palette1" class="design__wrapper-palette">
          <span class="box-design design__palette--three-color-one"></span>
          <span class="box-design design__palette--three-color-two"></span>
          <span class="box-design design__palette--three-color-three"></span>
        </label>
      </div>
    </div>
  </div>

</fieldset>