<fieldset class="share ">

  <include src="./collapsable.html" icon="icon1 fas fa-share-alt" title="comparte"
    class="js-collapsible collapsable__section--title js_collapsable_share_button" id="share"
    arrow="fa-chevron-up js_arrow_share">
  </include>

  <div class="page-wrapper">
    <div class="share__section--create js_collapsable_share hide">
      <button class="share__section--create__button js_share--btn">
        <i class="icon2 far fa-address-card"></i> &nbsp;Crear tarjeta
      </button>

      <div class="share__section--done js_card--done hidden">
        <h2 class="share__section--done__text js_undone">
          La tarjeta ha sido creada:
        </h2>
        <a class="share__section--done__link js_url" href="#"
          target="_blank">https://awesome-profile-card.com?id=A456DF0001
        </a>

        <button class="share__section--done__button js_undone2">
          <a class="share__section--done__button--link js_twitter_link" href="" target="_blank">
            <i class="icon3 fab fa-twitter"></i> &nbsp; Compartir en twitter</a>
        </button>
      </div>
    </div>
  </div>
</fieldset>