<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section className="preview section-prewiew-responsive">
        <div className="preview-container">
          <div className="preview__card">
            <div className="preview__card--description">
              <div
                className={`preview__card--bullet js_bullet ${props.bulletColor}`}
              ></div>
              <div className="preview__card--title js_title">
                <h2
                  className={`preview__card--name js_preview_name ${props.textColor}`}
                >
                  <%=name%>
                </h2>
                <h3
                  className={`preview__card--job js_preview_job ${props.textColor}`}
                >
                <%=job%>
                </h3>
              </div>
            </div>
            <div
              className="js__profile-image preview__photo"
              
            ></div>
            <ul className="preview__rrss">
              <li
                className={`preview__rrss--phone preview__rrss--item js_item ${props.itemColor}`}
              >
                <a
                  href={`tel: ${props.phone}`}
                  className="preview__rrss--link js_preview_phone"
                >
                  <i
                    className={`fas fa-mobile-alt js_icon ${props.iconsColor}`}
                  ></i>
                </a>
              </li>
              <li
                className={`preview__rrss--item preview__rrss--email js_item ${props.itemColor}`}
              >
                <a
                  href={`mailto: ${props.email}`}
                  className="preview__rrss--link js_preview_email"
                >
                  <i
                    className={`far fa-envelope js_icon ${props.iconsColor}`}
                  ></i>
                </a>
              </li>
              <li
                className={`preview__rrss--item preview__rrss--linkdin js_item ${props.itemColor}`}
              >
                <a
                  href="https://www.linkedin.com/in/${props.linkedin"
                  className="preview__rrss--link js_preview_linkedin"
                  target="_blank"
                >
                  <i
                    className={`fab fa-linkedin-in js_icon ${props.iconsColor}`}
                  ></i>
                </a>
              </li>
              <li
                className={`preview__rrss--item preview__rrss--github js_item ${props.itemColor}`}
              >
                <a
                  href="https://github.com/${props.github"
                  className="preview__rrss--link js_preview_github"
                  target="_blank"
                >
                  <i
                    className={`fab fa-github-alt js_icon ${props.iconsColor}`}
                  ></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
</body>
</html>